Source: ros-kinetic-gripit
Section: misc
Priority: extra
Maintainer: Yannick Roberts <yannick.oderri@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-future, python-numpy, python-skimage, ros-kinetic-catkin, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-gripit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pyqt5-dev-tools, python-future, python-numpy, python-rosdep, python-skimage, ros-kinetic-rospy
Description: The gripit package
